<div class="row">
  <div class="span9">
    <div class="well">
      <p>

        <%= @motivator.description %>
      </p>

      <%= link_to 'Edit', edit_motivator_path(@motivator) %> |

      <%= link_to 'Back', motivators_path %>
    </div>
  </div>
</div>


