<div class="center hero-unit">
  <h1>Welcome to Motivators!</h1>
  <p>
    Get motivation from motivators, create your own.
  </p>
  <p>
    <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>

